.greetingBox {
  @apply absolute h-[10rem] w-[30rem] text-[4rem]  overflow-hidden;
  left: -13px;
  top: -27px;
  transform: rotate(335deg);
}

.greetingInner {
  @apply relative h-full w-full;
  transform: rotate(-335deg);
}

.greeting {
  @apply absolute w-full h-full;
  top: 3rem;
  left: 141px;
}

.greetingBoxAlt {
  @apply absolute h-[10rem] w-[30rem] text-[4rem] overflow-hidden;
  left: 250px;
  top: 33px;
  transform: rotate(335deg);
}

.greetingAlt {
  @apply absolute w-full h-full text-void;
  top: -13px;
  left: -122px;
}

.wave {
  @apply inline-block;
  transform: scaleX(-1);
}
