.jobTitle {
  @apply absolute flex flex-col h-[9rem] w-[50rem] text-[2.5rem] overflow-hidden font-thin text-latte ;
  left: 347px;
  bottom: -36px;
  line-height: 2.5rem;
  letter-spacing: 7px;
  clip-path: polygon(0% 0%, 0 94px, 334px 0, 100% 0, 100% 100%, 0 100%);
}

.jobTitleInner {
  @apply absolute flex flex-col h-[9rem] w-[50rem] text-[2.5rem] overflow-hidden text-void ;
  left: 347px;
  bottom: -36px;
  line-height: 2.5rem;
  letter-spacing: 5px;
  clip-path: polygon(0 0%, 333px 0%, 0 94px);
}
