@import url('../../public/fonts/montserrat/Montserrat.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: ui-sans-serif;
}

body {
  background-image: url(/images/background/grain.webp);
  background-size: 400px auto;
  @apply text-latte;
}
