.greeting {
  @apply absolute h-[6rem] text-sea overflow-hidden font-thin pl-[5.5px];
  left: 12%;
  top: 7%;
  font-size: 2rem;
  clip-path: polygon(0 0%, 166px 0%, 0 113px);

  @media (min-width: 480px) {
    left: 10%;
    font-size: 4rem;
    clip-path: polygon(0 0%, 362px 0%, 0 174px);

    &.landscape {
      @apply absolute h-[6rem] text-latte overflow-hidden font-thin pl-[5.5px];
      left: 12%;
      top: 7%;
      font-size: 2rem;
      clip-path: polygon(0 0%, 166px 0%, 0 113px);

      @media (min-height: 480px) {
        left: 10%;
        font-size: 4rem;
        clip-path: polygon(0 0%, 362px 0%, 0 174px);
      }
    }
  }

  &.landscape {
    @media (min-height: 480px) {
      left: 10%;
      font-size: 4rem;
      clip-path: polygon(0 0%, 362px 0%, 0 174px);
    }
  }
}

.greetingInner {
  @apply absolute h-[6rem] text-void overflow-hidden;
  left: 12.25%;
  top: 7%;
  font-size: 2rem;
  font-weight: 400;
  clip-path: polygon(167px 0%, 0 114px, 100% 100%, 100% 0);

  @media (min-width: 480px) {
    left: 9.75%;
    font-size: 4rem;
    clip-path: polygon(369px 0%, 0 175px, 100% 100%, 100% 0);

    &.landscape {
      @apply absolute h-[6rem] text-void overflow-hidden;
      left: 12.25%;
      top: 7%;
      font-size: 2rem;
      font-weight: 400;
      clip-path: polygon(167px 0%, 0 114px, 100% 100%, 100% 0);

      @media (min-height: 480px) {
        left: 9.75%;
        font-size: 4rem;
        clip-path: polygon(369px 0%, 0 175px, 100% 100%, 100% 0);
      }
    }
  }

  &.landscape {
    @media (min-height: 480px) {
      left: 9.75%;
      font-size: 4rem;
      clip-path: polygon(369px 0%, 0 175px, 100% 100%, 100% 0);
    }
  }
}

.wave {
  @apply inline-block;
  transform: scaleX(-1);
  font-size: 36px;

  @media (min-width: 480px) {
    font-size: 56px;

    &.landscape {
      font-size: 36px;

      @media (min-height: 480px) {
        font-size: 56px;
      }
    }
  }

  &.landscape {
    font-size: 36px;

    @media (min-height: 480px) {
      font-size: 56px;
    }
  }
}

.ripple {
  position: absolute;
  right: 32%;
  top: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;

  @media (min-width: 480px) {
    right: 46.5%;
    top: 11.5%;

    &.landscape {
      right: 32%;
      top: 13%;

      @media (min-height: 480px) {
        right: 46.5%;
        top: 11.5%;
      }
    }
  }

  &.landscape {
    @media (min-height: 480px) {
      right: 46.5%;
      top: 11.5%;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid rgba(#323c42, 0.7);
    filter: blur(0);
    transform-origin: 60%;
    opacity: 0;
    z-index: -1;
  }

  &.activated {
    &:before,
    &:after {
      border-color: transparent;
      filter: blur(2px);
      transform: scale(4);
      opacity: 100%;
      transition:
        500ms transform ease,
        1050ms blur ease,
        450ms border-color ease;
    }
    &:after {
      transition-delay: 100ms;
    }
  }
}

.rippleInner {
  @apply relative w-full h-full;
}
