.navbg {
  background: hsla(100%, 100%, 100%, 0.15);
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
}

.nav,
.navbg {
  @apply flex flex-row justify-around items-center;
  height: 3.125rem;
  width: 12.5rem;
  font-size: 1.875rem;
  border-radius: 16px 16px 0 0;

  @media (min-width: 480px) {
    height: 5rem;
    width: 20rem;
    font-size: 3.125rem;

    &.landscape {
      height: 3.125rem;
      width: 12.5rem;
      font-size: 1.875rem;

      @media (min-height: 480px) {
        height: 5rem;
        width: 20rem;
        font-size: 3.125rem;
      }
    }
  }

  @media (max-width: 479px) {
    &.landscape {
      @media (min-height: 480px) {
        height: 5rem;
        width: 20rem;
        font-size: 1.875rem;
      }
    }
  }
}

.indicator {
  @apply absolute;
  left: 50%;
  top: -16px;
  transform: translateX(-50%);
}

.navItem {
  @apply cursor-pointer transition-all duration-200 text-latte;

  &:not(.smIcon) {
    font-size: 1.875rem;
  }
  &.smIcon {
    font-size: 1.875rem;
  }

  @media (min-width: 480px) {
    &:not(.smIcon) {
      font-size: 40px;
    }
    &.smIcon {
      font-size: 36px;
    }
    &.landscape {
      &:not(.smIcon) {
        font-size: 1.875rem;
      }
      &.smIcon {
        font-size: 1.875rem;
      }
      @media (min-height: 480px) {
        &:not(.smIcon) {
          font-size: 40px;
        }
        &.smIcon {
          font-size: 36px;
        }
      }
    }
  }

  @media (max-width: 479px) {
    &.landscape {
      @media (min-height: 480px) {
        &:not(.smIcon) {
          font-size: 40px;
        }
        &.smIcon {
          font-size: 36px;
        }
      }
    }
  }

  &:not(.mobile) {
    &:hover {
      transform: scale(1.15);
    }
  }

  &.selected {
    transform: scale(1.2) !important;
  }
}
