.section {
  min-height: 100dvh;
  @apply flex justify-center items-center font-thin;
}

.container {
  @apply w-full md:max-w-[52rem] mx-auto px-[2rem] py-[2rem] pb-[5.125rem] sm:pb-[7rem] text-white;
  line-height: 2rem;
  font-weight: 200;
}

.contactInfo {
  @apply flex flex-col md:flex-row justify-between items-center text-[1rem] sm:text-[1.25rem] md:text-[1.5rem] mb-4;
}

.title {
  @apply text-[1.5rem] sm:text-[2.25rem] md:text-[2.5rem];
  font-weight: 400;
}
