.navbg {
  @apply fixed rounded-t-3xl h-[5rem] w-[20rem] flex flex-row justify-around items-center;
  background: hsla(0,0%,100%,.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0,0,0,.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
}
